
#search{
    margin : 4%;
}

#search button{
    padding: 6px;
    margin-top: 5px;
    width: 80px;
}

.buttonStyle {
    text-decoration: none ;
    background-color: #242424;
    color: rgb(255, 255, 255);
    border: 1px solid #3c3d3d;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

@media screen and (max-width: 575px) {
    .lista button{
        float: initial ;
    }   
}

